@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;600&display=swap');

:root {
    --color-green: #06c167;
    --color-grey: rgb(238, 238, 238);
    --color-greyDarker: rgb(84, 84, 84);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: 'Fira Sans Condensed',
    sans-serif;
    line-height: 1.6;
}

header {
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
    0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--color-grey);
}

.container {
    max-width: 1440px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.header-title {
    font-size: 1.6rem;
}

.header-title span {
    color: var(--color-green);
    font-weight: 300;
    text-transform: uppercase;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.navigation li a {
    text-decoration: none;
    color: var(--color-green);
}

.menuToggle {
    display: none;
}

.navigation li a:hover {
    color: var(--color-greyDarker);
}

.navigation li.active {
    border-bottom: 1.5px solid var(--color-greyDarker);
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col {
    width: 48%;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.post-image img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}

.post-info {
    margin: 10px 0;
    padding: 1rem;
}

.post-info h1 {
    color: var(--color-green);
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.user-info img  {
    width: 40px;
    height: 40px;
}

.user-info span {
    color: var(--color-greyDarker);
}

.user-info span i {
    margin-right: 5px ;
    color: var(--color-green);
}

.post-info p {
    text-align: justify;
}

.divider {
    border: 1px solid var(--color-grey);
    margin-bottom: 20px;
}

footer {
    background: var(--color-grey);
}

footer .container p {
    text-align: center;
    color: var(--color-green);
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: 600;
}

/* MEDIA QUERIES */
@media(max-width: 1280px){
    .container{
        margin: 0 20px;
    }
}

@media (max-width: 768px) {
    .header .navigation {
        display: none;
    }

    .header .menuToggle {
        display: flex;
        font-size: 1.3rem;
        cursor: pointer;
        color: var(--color-green);
    }

    .container {
        max-width: 100%;
        margin: 0 20px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .main .col {
        width: 100%;
    }

    .header .navigation.active {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        flex-direction: column;
        font-size: 1.3rem;
        padding: 1.25rem;
        position: fixed;
        top: 4rem;
        background: #fff;
        width: 100%;
        height: 100vh;
        left: 0;
        animation: slide .2s ease;
    }

    @keyframes slide {
        0% {
            left: -300px;
        }

        100% {
            left: 0;
        }
    }
}